<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vandora</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/all.css" />
    <link rel="stylesheet" href="~/css/all.min.css" />
    <link rel="stylesheet" href="~/css/solid.css" />

    <link rel="stylesheet" type="text/css" href="css/slick.css" />
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css" />

    <link href="https://fonts.googleapis.com/css?family=Oswald:500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">


</head>
<body style="background-color: white;">
    <header style="background-color: rgb(58, 58, 58)">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
                <div class="container-fluid">
                    <div class="logo-div"><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Vandora</a></div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" style="margin-left: 130px">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link navbar-font-color" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link navbar-font-color" asp-area="" asp-controller="Location" asp-action="Index">Localidades</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link navbar-font-color" asp-area="" asp-controller="Product" asp-action="Index">Produtos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link navbar-font-color" asp-area="" asp-controller="Store" asp-action="Index">Lojas</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="button-card" style="margin-right: 20px">
                    <a style="color: white" href="/Checkout">
                    <!-- <i class="fas fa-shopping-bag"></i> -->
                        <img src="~/imagens/cart.png" />
                    </a>
                </div>
                <div class="button-card">
                    <a style="color: white" href="http://localhost:4200/">
                        Entrar
                    </a>
                </div>
                <div class="button-card">
                    <a style="color: white; margin-left: 30px" href="/Register">
                        Cadastrar
                    </a>
                </div>

            </nav>
        </div>
    </header>

    <div class="container-fluid">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small mdb-color pt-4" style="background-color: rgb(58, 58, 58);margin-top: 150px; ">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Footer links -->
            <div class="row text-center text-md-left mt-3 pb-3">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold" style="color: rgba(255, 255, 255, 0.5);">Vandora Store</h6>
                    <p style="color: white">
                        A solução para logistas que não tem a oportunidade ou até mesmo tempo para gerenciar uma loja virtual.
                    </p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold" style="color: rgba(255, 255, 255, 0.5);">Products</h6>
                    <p>
                        <a href="#!" style="color: white">MarketPLace</a>
                    </p>
                    <p>
                        <a href="#!" style="color: white">Todas as Categorias</a>
                    </p>
                    <p>
                        <a href="#!" style="color: white">Loja Virtual</a>
                    </p>
                    <p>
                        <a href="#!" style="color: white">Totalmente Responsiva</a>
                    </p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold" style="color: rgba(255, 255, 255, 0.5);">Useful links</h6>
                    <p style="color: white">
                        <a href="#!" style="color: white">Your Account</a>
                    </p>
                    <p style="color: white">
                        <a href="#!" style="color: white">Become an Affiliate</a>
                    </p>
                    <p>
                        <a style="color: white" href="#!">Shipping Rates</a>
                    </p>
                    <p>
                        <a href="#!" style="color: white">Help</a>
                    </p>
                </div>

                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3" >
                    <h6 class="text-uppercase mb-4 font-weight-bold" style="color: rgba(255, 255, 255, 0.5);" >Contact</h6>
                    <p style="color: white">
                        <i class="fas fa-home mr-3"></i> Perdizes,São Paulo
                    </p>
                    <p style="color: white">
                        <i class="fas fa-envelope mr-3"></i> vinicius.otv@hotmail.com
                    </p>
                    <p style="color: white">
                        <i class="fas fa-phone mr-3"></i> + 11 98479-2279
                    </p>
                    <p style="color: white">
                        <i class="fas fa-print mr-3"></i> + 11 96127-2476
                    </p>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Footer links -->

            <hr style="background-color: black">

            <!-- Grid row -->
            <div class="row d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-7 col-lg-8">

                    <!--Copyright-->
                    <p style="color: white" class="text-center text-md-left">
                        © 2019 Copyright:
                        Vandora
                    </p>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-5 col-lg-4 ml-lg-0">

                    <!-- Social buttons -->
                    <div class="text-center text-md-right">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                    <i style="color: white; font-size: 1.75rem;" class="fab fa-google"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                    <i style="color: white; font-size: 1.75rem;" class="fab fa-twitter"></i>
                                </a>
                            </li>   
                            <li class="list-inline-item">
                                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                    <i style="color: white; font-size: 1.75rem;" class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                    <i style="color: white; font-size: 1.75rem;" class="fab fa-instagram"></i>
                                </a>
                            </li>
                            @*<li class="list-inline-item">
                                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                    <i style="color: white; font-size: 1.75rem;" class="fab fa-pinterest-square"></i>
                                </a>
                            </li>*@

                        </ul>
                    </div>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

    </footer>
    <!-- Footer -->

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="jquery.min.js"></script>
        <script src="owlcarousel/owl.carousel.min.js"></script>

    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script type="text/javascript" src="~/js/"></script>
    <script type="text/javascript" src="~/js/slick.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
