
@{
    Layout = null;
}
@model HomeIndexViewModel

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vandora</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body style="background-color: white;">
    <header style="background-color: rgb(58,58,58); border-bottom: 1px solid white;">
        <div class="container">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
                <div class="container">
                    <div class="logo-div"><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Vandora</a></div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link navbar-font-color" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link navbar-font-color" asp-area="" asp-controller="Home" asp-action="Index">Quem Somos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link navbar-font-color" asp-area="" asp-controller="Home" asp-action="Index">Nosso Parceiros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link navbar-font-color" asp-area="" asp-controller="Home" asp-action="Index">Localidades</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

    </header>

    <div style="background-color: rgb(58,58,58); height: 250px; padding-top: 30px">
        <p style="color: white; text-align: center">Logo Vandora</p>
    </div>

    <div class="container div-logo-store">
        <div class="row" style="background-color: #ededed;">
            <div class="card mb-4 bg-white rounded">
                <img class="img-fluid" src="https://source.unsplash.com/LxVxPA1LOVM/2300x900" />
            </div>

            <div class="row" style="margin-left: 80px;">
                @foreach (var product in Model.Products)
                {
                    <div class="card mb-4 bg-white rounded div-product-store">
                        <img class="img-fluid" src="@product.Image" />
                        <div class="card-body card-product-shadow">
                            <p class="card-text">
                                @product.Name
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</body>

</html>
