@{
ViewData["Title"] = "Index";
}
@model HomeIndexViewModel

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-12" style="margin: 30px 30px;">
                <div class="row">
                    @foreach (var store in Model.Stores)
                    {
                    <div class="card mb-4 div-product-store " style="margin-left: 20px; box-shadow: 0 1px 15px rgba(128, 128, 128, 0.3);">
                        <a href="/store/storedetail/@store.StoreId">
                            <img class="img-fluid" src="@store.Image" />
                        </a>
                    </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>

