@{
    ViewData["Title"] = "Detalhes do Produto";

}

@ViewBag.message

@model HomeIndexViewModel

<div class="container" style="display: flex; justify-content: space-around">

    <div class=" col-4" style="background-color: pink; margin-top: 50px; ">
        @foreach (var product in Model.Products)
        {
            <img class="img-fluid" src="@product.Image" />
        }

    </div>

    <div class=" col-6" style="background-color: purple; margin-top: 50px">
        @foreach (var product in Model.Products)
        {
            <p>@product.Description</p>
        }
    </div>
</div>

