
@{
    ViewData["Title"] = "Index";
}
@model HomeIndexViewModel


<div class="container-fluid">

    <div class="row">
        <div class="col-3" style="background-color: blue">
            <p>categorias</p>
        </div>

        <div class="col-9" style="background-color: black">
           
                <div class="card col-3 mb-4 bg-white rounded" style="margin-top: 20px; box-shadow: 0 1px 15px rgba(128, 128, 128, 0.3);">
                    <img class="img-fluid" src="https://source.unsplash.com/HY3l4IeOc3E/230x225" />
                </div>

                <div class="card col-3 mb-4 bg-white rounded" style="margin-top: 20px; box-shadow: 0 1px 15px rgba(128, 128, 128, 0.3);">
                    <img class="img-fluid" src="https://source.unsplash.com/LxVxPA1LOVM/230x225" />
                </div>

                <div class="card  col-3 mb-4 bg-white rounded" style="margin-top: 20px; box-shadow: 0 1px 15px rgba(128, 128, 128, 0.3);">
                    <img class="img-fluid" src="https://source.unsplash.com/b-8Jma8ZifA/230x225" />
                </div>

                <div class="card col-3 mb-4 bg-white rounded" style="margin-top: 20px; box-shadow: 0 1px 15px rgba(128, 128, 128, 0.3);">
                    <img class="img-fluid" src="https://source.unsplash.com/YGTw7VdAkUM/230x225" />
                </div>
        </div>
    </div>
</div>

