@{
    ViewData["Title"] = "Index";
}
@model HomeIndexViewModel


<div class="container-fluid">

    <div class="row">
        <div class="col-3" style="background-color: blue; max-height: 500px; margin-top: 50px">
            <p>categorias</p>
        </div>

        <div class="col-9">
            <div class="container">
                <div class="row">
                    @foreach (var product in Model.Products)
                    {
                        <div class="card mb-4 bg-white rounded div-product" style="margin-left: 30px; margin-top: 50px">
                            <img class="img-fluid" src="@product.Image" />
                            <div class="card-body card-product-shadow">
                                <p class="card-text">
                                    @product.Name
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

