@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="background-color: #f5f5f5">

    <div class="col-lg-12 carousel-information">
        <img src="~/imagens/vazia.jpg" class="img-fluid" alt="exemplo image">
        <p class="rounded float-right">Quer evitar a multidão da 25 de Março?</p>
    </div>
    <div class="container col-lg-12 center-page">
        <p> Visite as melhores Lojas nas melhores regiões.</p>
        <div class="row">

            <div class="border-left img-fluid" style="margin-top: 10px; border: 1px solid rgba(0, 0, 0, 0.125);
                box-shadow: 10px 10px 20px rgba(211, 211, 211, 0.3); margin-right: 30px; margin-left: 30px;">
                <img class="border-left" src="~/imagens/nike.png" />
            </div>

            <div class="border-left img-fluid" style="margin-top: 10px; border: 1px solid rgba(0, 0, 0, 0.125); box-shadow: 10px 10px 20px rgba(211, 211, 211, 0.3);margin-right: 30px">
                <img class="border-left" src="~/imagens/aber.png" />
            </div>


            <div class="border-left img-fluid" style="margin-top: 10px; border: 1px solid rgba(0, 0, 0, 0.125); box-shadow: 10px 10px 20px rgba(211, 211, 211, 0.3);margin-right: 30px">
                <img class="border-left" src="~/imagens/aber.png" />
            </div>


            <div class="border-left img-fluid" style="margin-top: 10px; border: 1px solid rgba(0, 0, 0, 0.125); box-shadow: 10px 10px 20px rgba(211, 211, 211, 0.3);margin-right: 30px">
                <img class="border-left" src="~/imagens/aber.png" />
            </div>

        </div>
    </div>


    @*<div class=" container" style="background-color: lightgrey; margin-top: 50px; height: auto">

        <p> Veja alguns dos nossos produtos</p>

        <div class="row" style="background-color: lightgrey; padding: 20px;">
            
            <div class="col-md-4" style="float: right">
                <img class="img-fluid" src="~/imagens/toalhas.jpg" />
            </div>

            <div class="col-md-4 " style="float: right">
                <img class="img-fluid" src="~/imagens/houpa.jpg" />
            </div>

            <div class="col-md-4" style="float: right">
                <img class="img-fluid" src="~/imagens/noot.jpg" />
            </div>

        </div>

    </div>*@

</div>