@{
    ViewData["Title"] = "Home Page";
}

<div class="col-lg-12 carousel-information">
    <img src="~/imagens/vazia.jpg" class="img-fluid" alt="exemplo image">
    <p class="rounded float-right">Quer evitar a multidão da 25 de Março?</p>
</div>
<div class="container col-lg-12 center-page">
    <p> Visite as melhores Lojas nas melhores regiões.</p>
    <div class="row">

        <div class="col-md-4" style="margin-top: 10px">
            <img class="img-fluid" src="~/imagens/nike.png" />
        </div>

        <div class="col-md-4" style="margin-top: 10px">
            <img class="img-fluid" src="~/imagens/aber.png" />
        </div>


        <div class="col-md-4" style="margin-top: 70px;">
            <img class="img-fluid" src="~/imagens/vivara.png" />
        </div>

    </div>
</div>

<div class=" col-lg-12" style="background-color:red; margin-top:20px">

</div>