/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.logo-div {
    background-color: transparent;
    width: 50%;
    margin-left: 20px;
}

.navbar-font-color {
    color: white !important;
    font-weight: 500;
}

/*.navbar-font-color:hover {
        background-color: white;
        color: white !important;
        height: auto
    }*/

.carousel-information {
    margin-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
    height: auto;
    background-color: transparent
}

.center-page {
    background-color: transparent;
    height: auto;
    text-align: center;
    margin-top: 70px;
}

.btn-square {
    background-color: rgb(58,58,58); /* Green */
    border: 2px solid white;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    margin: 4px 5px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .btn-square:hover {
        background-color: white;
        color: rgb(58,58,58);
        border: 2px solid rgb(58,58,58);
    }
    .btn-square:focus {
        box-shadow: 0 1px 15px rgb(58,58,58);
        background-color: white;
        color: rgb(48,48,48);
        font-weight: 800;
    }

.div-product {
    margin-left: 30px;
    margin-top: 20px;
    box-shadow: 0 1px 15px rgba(128, 128, 128, 0.3);
}
.div-product-store {
    margin-left: 5px;
    margin-top: 20px;
    box-shadow: 0 1px 15px rgba(128, 128, 128, 0.3);
    height: auto;
}

.div-logo-store 
{
    position: absolute;
    left: 70px;
    top: 200px;
    z-index: 1;
}
@media (max-width: 1024px)
{
    .div-logo-store{
        width: 800px;
        position: absolute;
        left: 100px;
        right: auto;
    }
}

.card-product-shadow {
    box-shadow: 0 1px 15px rgba(128, 128, 128, 0.3);
}