/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.logo-div {
    background-color: rgb(58,58,58);
    width: 60%;
    margin-left: 20px;
    color: white !important;
}
/*div do Logo do menu do lado esquerdo*/

.navbar-font-color {
    color: white !important;
    font-weight: 500;
    font-size: 1.05rem;
}

.button-card {
    font-family: "Hurme Bold", Helvetica, Arial, sans-serif;
    font-size: 1.05rem;
    width: auto;
    color: white !important;
    font-weight: 500;
}

.carousel-information {
    margin-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
    height: auto;
    background-color: transparent
}

.center-page {
    background-color: transparent;
    height: auto;
    text-align: center;
    margin-top: 70px;
}

.btn-square {
    background-color: rgb(58,58,58);
    border: 2px solid white;
    color: white !important;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    margin: 4px 5px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .btn-square:hover {
        background-color: white;
        color: black !important;
        font-weight: 800;
        border: 2px solid rgb(58,58,58);
    }

    .btn-square:focus {
        box-shadow: 0 1px 15px rgb(58,58,58);
        background-color: white;
        color: rgb(48,48,48) !important;
        font-weight: 800;
    }

.div-product {
    margin-left: 5px;
    margin-top: 20px;
    box-shadow: 0 1px 15px rgba(128, 128, 128, 0.3);
}

.div-product-store {
    margin-top: 20px;
    box-shadow: 0 1px 15px rgba(128, 128, 128, 0.3);
    height: auto;
}

.div-logo-store {
    position: absolute;
    left: 70px;
    top: 200px;
    z-index: 1;
}

.name-store {
    font-size: 1.50rem;
    display: none;
}

    .name-store:hover {
        display: block;
        font-weight: 800;
        font-size: 1.50rem;
        color: red;
    }

@media (max-width: 1024px) {
    .div-logo-store {
        width: 800px;
        position: absolute;
        left: 100px;
        right: auto;
    }
}

.card-product-shadow {
    box-shadow: 0 1px 15px rgba(128, 128, 128, 0.3);
}

.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.product-card-text {
    font-size: 1.25rem;
    font-weight: 500;
    color: #3d3d3d;
}

.product-card-title {
    color: rgb(58,58,58);
    font-weight: 700;
    font-size: 1.25rem;
}

.product-card-subtitle {
    font-size: 1.05rem;
    font-weight: 500;
    color: #3d3d3d
}

.icon-card {
    margin-left: 10px;
    display: flex;
}

    .icon-card:hover {
        color: orange;
    }

    .icon-card:focus {
        background-color: orange
    }

.heart-icon-card {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 1.75rem;
    margin: 10px 10px;
    display: flex;
}

    .heart-icon-card:hover {
        color: rgb(211,80,80);
    }
